# Ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Scrapy stuff:
.scrapy

# Ignore all document files
*.JSON
*.txt
*.csv
*.log
*.png
*.xml

# Do not ignore
!requirements.txt